th a:hover {
    color: #0d6efd !important;
    transition: 0.2s ease !important;
}

th, td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th:nth-child(1) { width: 5%; }
th:nth-child(2) { width: 20%; }
th:nth-child(3) { width: 30%; }
th:nth-child(4) { width: 45%; }